.header {
  &::after {
    content: '';
    width: 77%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.25);
  }

  &__burger-icon {
    fill: var(--color-brand-white);
    border-color: transparent;
    transition: fill 0.3s ease, transform 0.2s ease;

    &:hover {
      background-color: transparent;
      fill: var(--color-brand-orange);
      border-color: transparent;
      transform: scale(1.05);
    }
  }

  &__phone-number {
    color: var(--color-brand-white);
    font-family: 'Roboto';
    transition: color 0.3s ease, transform 0.2s ease;
    font-size: 14px;

    &:hover {
      color: var(--color-brand-orange);
      transform: scale(1.05);
    }
  }

  &__request-call {
    background-color: transparent;
    border-color: transparent;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    color: var(--color-brand-white);
    transition: color 0.3s ease, transform 0.2s ease;

    @media screen and (max-width: $--bp-tablet) {
      font-size: 12px;
    }

    &:hover {
      color: var(--color-brand-orange);
      background-color: transparent;
      border-color: transparent;
      transform: scale(1.05);
    }
  }

  &__phone-icon {
    fill: var(--color-brand-white);
    transition: fill 0.3s ease;
    border-radius: 50%;
    background-image: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.15) 70%,
      transparent 51%
    );
    animation: fillFromCenter 0.8s ease-out forwards;

    &:hover {
      fill: var(--color-brand-orange);
      background-image: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.15) 70%,
        transparent 51%
      );
      animation: fillToCenter 0.5s ease-out forwards;
    }

    &.animate {
      &::before {
        width: 60px;
        height: 60px;
      }

      &::after {
        width: 80px;
        height: 80px;
      }
    }

    &.hover {
      &::before {
        width: 40px;
        height: 40px;
        border-color: rgba(255, 172, 48, 0.3);
      }
    }

    &::before {
      content: '';
      border-radius: 50%;
      border: 2px solid rgba(255, 255, 255, 0.3);
      width: 1px;
      height: 1px;
    }
    &::after {
      content: '';
      border-radius: 50%;
      border: 2px solid rgba(255, 255, 255, 0.1);
      width: 1px;
      height: 1px;
    }
  }
}

@keyframes fillFromCenter {
  0% {
    background-size: 0% 0%;
    background-position: center;
    background-repeat: no-repeat;
  }
  100% {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@keyframes fillToCenter {
  0% {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  100% {
    background-size: 0% 0%;
    background-position: center;
    background-repeat: no-repeat;
  }
}
