.side-panel {
  &__text {
    writing-mode: vertical-rl;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    font-size: 8px;
    font-family: 'Roboto';
    font-weight: 500;
    letter-spacing: 6px;
    cursor: default;
  }

  &__vertical-decorative-line {
    width: 1px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.25);
  }

  &__icon {
    fill: rgba(255, 255, 255, 0.5);
    transition: fill 1s ease, transform 0.1s ease;

    &:hover {
      fill: var(--color-brand-orange);
      transform: scale(1.15);
    }
  }
}
