body {
  padding-top: 24px;
  padding-left: 40px;
  position: relative;

  @media screen and (max-width: $--bp-tablet) {
    padding-top: 20px;
    padding-left: 28px;
  }

  @media screen and (max-width: $--bp-mobile) {
    padding-left: 16px;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }
}
