.header {
  position: relative;
  padding-right: 70px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: $--bp-tablet) {
    padding-right: 44px;
  }

  @media screen and (max-width: $--bp-mobile) {
    padding-right: 32px;
  }

  &__container {
    padding-bottom: 14px;
  }

  &__container-menu {
    flex-grow: 1;
    gap: 24px;
  }

  &__burger-icon {
    padding-bottom: 4px;
  }

  &__phone-number {
    padding-left: 52px;
  }

  &__container-request-call {
    flex-grow: 1;
    justify-content: flex-end;
    gap: 20px;
  }

  &__phone-icon {
    position: relative;
    padding: 14px;

    @media screen and (max-width: $--bp-tablet) {
      padding: 11px;
    }

    @media screen and (max-width: $--bp-mobile) {
      padding: 8px;
    }

    &.animate {
      &::before {
        top: -8px;
        right: -8px;

        @media screen and (max-width: $--bp-tablet) {
          top: -6px;
          right: -6px;
        }
      }

      &::after {
        top: -18px;
        right: -18px;

        @media screen and (max-width: $--bp-tablet) {
          top: -16px;
          right: -16px;
        }

        @media screen and (max-width: $--bp-mobile) {
          top: -13px;
          right: -13px;
        }
      }
    }

    &::before {
      position: absolute;
      display: block;
      top: 20px;
      right: 20px;
      transition: width 1s ease, height 1s ease, top 1s ease, right 1s ease;
    }

    &::after {
      position: absolute;
      display: block;
      top: 20px;
      right: 20px;
      transition: width 1s ease, height 1s ease, top 1s ease, right 1s ease;
    }

    &.hover {
      &::before {
        top: 2px;
        right: 2px;

        @media screen and (max-width: $--bp-tablet) {
          top: -1px;
          right: -1px;
        }

        @media screen and (max-width: $--bp-mobile) {
          top: -4px;
          right: -4px;
        }
      }
    }
  }

  &__vertical-decorative-line {
    margin-right: 60px;
    align-self: end;

    @media screen and (max-width: $--bp-tablet) {
      position: absolute;
      top: 60px;
      right: -60px;
    }

    @media screen and (max-width: $--bp-mobile) {
      top: 52px;
    }
  }
}
